

<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2" style="padding-top: 90px;">

    <!-- start of text input -->
    <form class="form-horizontal">
        <div class="fixedElement" style="background-color: #f5f5f5; width: 500px; height: 90px; border-bottom-style: inset "><!--keep this on top of page-->


            <div class="form-group">
                <!--ng-model with model “exploreNearby”, and “exploreQuery”,
                 so once we change the text into the input fields, the models
                 will get updated directly.-->
                <div class="col-md-5 col-xs-4 col-sm-5">
                    <input required type="text" data-ng-model="exploreNearby" class="form-control" placeholder="e.g. Dublin" />
                </div>

                <div class="col-md-5 col-xs-4 col-sm-5">
                    <input required type="text" data-ng-model="exploreQuery" class="form-control" placeholder="e.g. Burger or Club" />
                </div>

                <div class="col-md-2 col-xs-4 col-sm-2">
                    <button class="btn btn-primary pull-right" data-ng-click="doSearch()"><span ></span>Explore</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <input type="text" data-ng-model="filterValue" class="form-control" placeholder="Filter Places by (Place Name) or (Category)" />
                </div>
            </div>
        </div> <!--keep this on top of page-->

        <div class="well well-sm" data-ng-show="totalRecordsCount == 0">
            <h5>No Places found Near by ({{exploreNearby}})</h5>
        </div>
        <toaster-container toaster-options="{'time-out': 1700}"></toaster-container>
        <div data-ng-show="totalRecordsCount > 0">



            <!--ng-repeat to iterate through the array of filtered places then we can bind the view with each place-->
            <ul class=" list-group" data-ng-repeat="item in filteredPlaces">
                <!-- <li> tag for each place -->
                <li class="list-group-item">
                    <div class="row">

                        <!--<div class="col-xs-2 col-md-1">-->
                        <!--&lt;!&ndash; execute helper functions&ndash;&gt;-->
                        <!--&lt;!&ndash;<img data-ng-src="{{buildCategoryIcon(item.venue.categories[0].icon)}}"&ndash;&gt;-->
                        <!--&lt;!&ndash;title="{{item.venue.categories[0].shortName}}" class="venueIcon" />&ndash;&gt;-->
                        <!--</div>-->

                        <div class="col-xs-6 col-md-8">
                            <!--Venue name-->

                            <a href="" data-ng-click="showVenuePhotos(item.venue.id,item.venue.name)">
                                <h2 class="venueName">{{item.venue.name}}</h2>
                            </a>
                        </div>
                        <div class="col-xs-4 col-md-3">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-md-1">
                            <!--built-in filters for formatting decimal numbers-->
                            <!--RATINGS-->
                            <span class="badge">{{item.venue.rating | number:1}}</span>
                        </div>
                        <div class="col-xs-6 col-md-8">
                            <!--venue address-->
                            <p class="text-warning"><small>{{(item.venue.location.address != null) && item.venue.location.address}} - {{item.venue.categories[0].shortName}}</small></p>
                            <!--tips about the venue-->
                            <p>{{item.tips[0].text}}</p>
                            <hr class="seperator" />
                            <!-- “Bookmark Place” which will be used for saving user favorite places-->
                            <a href="#" data-ng-click="bookmarkPlace(item.venue)"><span></span>Bookmark Place</a>
                        </div>
                        <!-- show main venue image on the right side -->
                        <div class="col-xs-4 col-md-3">
                            <a href="" data-ng-click="showVenuePhotos(item.venue.id,item.venue.name)">
                                <img data-ng-src="{{buildVenueThumbnail(item.venue.photos.groups[0])}}" class="img-thumbnail" /></a>
                        </div>
                    </div>

                </li>
            </ul>
        </div>

        <!-- next set of data buttons -->
        <div class="row">

            <div class="col-md-offset-2 col-md-8 col-md-offset-2 text-center">
                <div data-ng-show="totalRecordsCount > 0">
                    <div>
                        <!-- pagination using Angular Bootstrap UI directive named “data-pagination“,
                             by using this we’re able to implement server side pagination.  -->
                        <div data-pagination="" data-previous-text="<" data-next-text=">" data-first-text="<<" data-last-text=">>"
                             data-on-select-page="pageChanged(page)" data-total-items="totalRecordsCount" data-page="currentPage"

                             data-boundary-links="true" class="pagination pagination-sm" data-max-size="5" data-rotate="false" data-items-per-page="5">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

