
<style>
    .toggler { width: 500px; height: 200px; position: relative; }
    #button { padding: .5em 1em; text-decoration: none; }
    #effect { width: 240px;  padding: 1em;  font-size: 1.2em; border: 1px solid #000; background: #eee; color: #333; }
    .newClass { text-indent: 3px; padding: 1px; margin: 1px; font-size: 1.9em; }
</style>

<div ng-init ="weather_notification()" class="container" style="margin-top: 40px;">
  <div class="row">
    <div class="col-xs-12 bg">
      <!--<div class="pull-left">-->
        <h3 class="">{{data.city.name}}, {{data.city.country}}</h3>
        <h4>{{data.city.coord.lat | number:4 }}, {{data.city.coord.lon | number:4 }}</h4>
      </div>
      <div class="pull-right text-center">
        <br />
        <img src="/assets/clock.png" width="48" alt="Location" />
        <br />
        <!--{{ currentTime }}-->
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-xs-2 weather-days today" ng-repeat="day in data.list | filter:!dt.today">
      <h3>{{ day.dt.day  }}</h3>
      <span class="temp-title">
        {{ day.temp.day}}&deg;
      </span><br /><br />
      <span class="speed">
        {{ day.speed }} km/h
      </span>
    </div>
    <div class="col-xs-10">
      <div class="row">
        <div class="weather-days col-xs-12 col-md-2" ng-repeat="day in data.list" ng-show="!day.dt.today">
          <div>
            <span class="badge">
              {{ day.dt.day  }}
            </span><br />
            <span class="temp-title">
              {{ day.temp.day}}&deg;
            </span><br />
            <span class="speed">
              {{ day.speed }} km/h
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    $(function() {
        $( "#button" ).click(function() {
            $( ".container" ).addClass( "newClass", 1000, callback );
            $( ".badge" ).addClass( "newClass", 1000, callback );

        });

        function callback() {
            setTimeout(function() {
                $( "container" ).removeClass( "newClass" );
            }, 1000 );
        }
    });
</script>